@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body,
.container {
  width: 100vw;
}

.header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #253245;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

nav .navbar .logo i {
  color: #c8946c;
  font-size: 25px;
}

nav .navbar .logo a {
  font-size: 25px;
}

nav .navbar .showMenuBtn {
  display: none;
}

.menu {
  width: 50%;
  display: block;
}

.menu > ul {
  display: flex;
  justify-content: space-between;
}

.menu > ul li {
  font-size: 18px;
  margin-right: 15px;
}

.sns {
  display: block;
}

.sns button {
  border: none;
  background-color: transparent;
  margin-right: 15px;
}

.sns button i {
  font-size: 18px;
  color: white;
}

.sns button:last-child {
  margin-right: 0px;
}
